{{#with beer}}
  <div class="card-header text-center bg-white pb-2">  
    <a href="/discover/beers/{{id}}">
      <img src="{{image}}" alt="" height="200">
    </a>
  </div>
  <div class="card-body text-center">
    <h1 class="beer-title">{{name}}</h1>
    <p class="meta-brewery meta-text-c"><a href="/discover/breweries/{{brewery.id}}">{{brewery.name}}</a></p>
    <p class="meta-beertype meta-text-a {{color}}"><i>{{beertype}}</i></p>
  <p class="meta-vol meta-text-b">{{vol}}</p>
  {{/with}}
