{{#with user}}
<h1 class="page-title title-1">Edita tu perfil</h1>
<div class="row single">
  <div class="col-12 col-sm-3">
    <div class="text-center" style="width: fit-content;">
      <div class="profile-image rounded-circle mb-4" style="background-image: url({{image}});" ></div>
      <a href="#" class="btn btn-light" data-toggle="modal" data-target="#uploadImage">
        Añadir/Editar imagen
      </a>
    </div>
  </div>
  <div class="col">
    <h1 class=" title-3 mb-3">{{name}}</h1>
    <h4 class="">{{username}}</h4>
    <p class="title-4">{{email}}</p>
    <p class=" mb-4">{{#if ../admin}}<span class="badge badge-info">Admin</span>{{/if}}</p>
    <div class="meta-brewery mt-4">
      <h4>Historial de birrer:</h4>
      <p><b>Probadas:</b></p>
      <p><b>Favoritas:</b></p>
      <p><b>Pendientes:</b></p>
    </div>
    <div class="badges">
      {{#if isGlutenFree}}<img src="/images/icons/glutenFree.png">{{/if}}
      {{#if isSeasonal}}<img src="/images/icons/seasonal.png">{{/if}}
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="uploadImageLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadImageLabel">Subir imagen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{image}}" alt="" width="200">
        <form action="/profile/edit/image" method="post" enctype="multipart/form-data">
            <input type="file" name="photo" class="mt-4">
            <input type="submit" class="btn btn-primary btn-block mt-5" value="SAVE">
        </form>
      </div>
    </div>
  </div>
</div>
{{/with}}