{{#with beer}}
<a href="/discover">Descubre</a> / <a href="/discover/beers">Cervezas</a> / {{name}}
<div class="row">
  <div class="col-12 col-sm-3">
    <img src="{{image}}" alt="" width="200">
    <a href="#" class="btn btn-light" data-toggle="modal" data-target="#uploadImage">
      Añadir/Editar imagen
    </a>
  </div>
  <div class="col-12 col-sm-5">
    <h1 class="page-title">{{name}}</h1>
    <div class="meta-brewery">
      <p>Una cerveza de:</p>
      <a href="/discover/breweries/{{brewery.id}}">
        <img src="{{brewery.image}}" width="50" alt="">
        <p>{{brewery.name}}</p>
        <p>{{brewery.city}}, {{brewery.country}}</p>
      </a>
    </div>
    <p>{{beertype}}</p>
    <p>{{vol}} | {{kcal}}</p>
    <p>{{description}}</p>
  </div>
  {{/with}}
</div>

<!-- Modal -->
{{> modal_edit_image beer}}