{{#with brewery}}
<div class="page-breadcrumb"><a href="/discover">Descubre</a> / <a href="/discover/breweries">Fábricas</a> / {{name}}</div>
<h1 class="page-title">{{name}}</h1>
<div class="row">
  <div class="col-12 col-sm-3">
    <div class="text-center" style="width: fit-content;">
      <div class="profile-image rounded-circle mb-4" style="background-image: url({{image}});" ></div>
      <a href="#" class="btn btn-light" data-toggle="modal" data-target="#uploadImage">
        Añadir/Editar imagen
      </a>
    </div>
  </div>
  <div class="col-12 col-sm-5">
    <h3>{{name}}</h3>
    <p><i class="fa fa-map-marker-alt"></i> {{city}}, {{country}}</p>
    <p>Pertenece a la empresa <i>{{company}}</i></p>
    <p>Fundada en {{foundation_year}}</p>
    <div class="brewery-beers">
      <h2>Cervezas de {{name}}:</h2>
      {{/with}}
      <ul>
        {{#each beers}}
        <li><a href="/discover/beers/{{id}}">{{name}}</a></li>
        {{/each}}
      </ul>
      <a href="/admin/add/beer" class="btn btn-dark bg-birra-primary border-0">Añadir cerveza</a>
    </div>
  </div>
</div>
  

<!-- Modal -->
<div class="modal fade" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="uploadImageLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadImageLabel">Subir imagen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{image}}" alt="" width="200">
        <form action="/admin/brewery/image/change/{{brewery.id}}" method="post" enctype="multipart/form-data">
            <input type="file" name="photo" class="mt-4">
            <input type="submit" class="btn btn-primary btn-block mt-5" value="SAVE">
        </form>
      </div>
    </div>
  </div>
</div>