<a href="/discover">Descubre</a> / <a href="/discover/breweries">Fábricas</a>
<h1>Descubre las fábricas</h1>
<div class="row">
  {{#each breweries}}
  <div class="col-2">
    <a href="/discover/breweries/{{id}}">
      <img src="{{image}}" alt="" width="200">
      <h3>{{name}}</h3>
    </a>
    <p>{{company}}</p>
    <p>{{city}}, {{country}}</p>
    <p>{{foundation_year}}</p>
  </div>
  {{/each}}
</div>