<a href="/discover">Descubre</a> / <a href="/discover/breweries">Fábricas</a>
<h1 class="page-title">Descubre las fábricas</h1>
<div class="row">
  {{#each breweries}}
  <div class="col-2">
    <a href="/discover/breweries/{{id}}">
      <img src="{{image}}" class="img-fluid img-thumbnail rounded-circle" alt="" width="200">
      <h3 class="beer-title text-center">{{name}}</h3>
    </a>
    <div class="cpt-content text-center">
      {{!-- <p>{{company}}</p> --}}
      <p>{{city}}, {{country}}</p>
      {{!-- <p>{{foundation_year}}</p> --}}
    </div>
  </div>
  {{/each}}
</div>